ShapeFilesWithR-concordance.tex
ShapeFilesWithR.aux
ShapeFilesWithR.log
ShapeFilesWithR.nav
ShapeFilesWithR.out
ShapeFilesWithR.snm
ShapeFilesWithR.synctex.gz
ShapeFilesWithR.tex
ShapeFilesWithR.toc
ShapeFilesWithR.vrb
figure
